/* Variables */

:root {
    --color-background: #E2E2E2;

    --app-width: 90vw;
    --sidebar-width: 30vw;

    --menu-icon-width: 6em;
    --menu-icon-thickness: 0.5em;
}

/* Main Formatting */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', sans-serif;
    background-color: var(--color-background);
    color: #1C0F13;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--app-width);
    margin:
        calc(var(--menu-icon-width) * 3)
        auto
        0
        auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.75rem;
}

p {
    font-size: 2rem;
}

img {
    width: calc(var(--menu-icon-width) / 1.75);
    margin: 0 auto;
}

/* Tab Settings */

#sect-account input {
    margin: 0 0 0.625em 0;
}

#sect-account #account-sw-line {
    display: flex;
    flex-direction: row;
}

#account-sw-prompt, #account-switch {
    margin: 1em 0;
    padding: 0;
    font-size: 2.5rem;
    white-space: nowrap;
}

#account-sw-prompt {
    margin-right: 0.5em;
}

#account-switch {
    cursor: pointer;        
    color: blue;
    background-color: var(--color-background);
    text-align: left;
    text-decoration: underline;
}

#sect-about {
    text-align: center;
}

#sect-about p {
    text-align: start;
}

/* Sign In Area */

#account-login-google {
    margin: 1.25em 0 0.625em 0;

    color: white;
    background-color: grey;

    font-weight: bold;
}

#account-login-google:hover {
    background-color: #6E7E85;
    cursor: pointer;
}

/* Interactive Elements on Main List */

input {
    color: #1C0F13;
    background-color: #BBBAC6;
    border: 0;
    width: var(--app-width);
    padding: 1em 0;
    border-radius: 0.5em;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
    margin: 0.625em 0;
}

input::placeholder {
    color: #1C0F13;
    opacity: 0.5;
}

.container button {
    color: #1C0F13;
    background-color: #B7CECE;
    border: 0;
    width: var(--app-width);
    padding: 1em;
    border-radius: 0.5em;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
}

.container button:hover {
    background-color: #6E7E85;
    cursor: pointer;
}

input:focus, .container button:focus {
    box-shadow: 0 0 0.25em 0.25em green;
}

/* List Elements */

hr {
    width: var(--app-width);
    border-color: #1C0F13;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

.container ul li {
    font-size: 2.5rem;
    background-color: #BB4D00;
    padding: 0.8em;
    border-radius: 0.4em;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.2)
}

.container ul li:hover {
    background-color: #CA5310;
    cursor: pointer;
}

.container ul li:focus {
    box-shadow: 0 0 0.25em 0.25em red;
}

/* Code for Rotating Screens */

@media screen and (orientation: portrait) {
    /* Header - Base CSS for Menu Hidden State */

    .header {
        background-color: var(--color-background);
        box-shadow: 0.0625em 0.0625em 0.25em 0 rgba(0,0,0,.1);
        position: fixed;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        max-width: var(--app-width);
        z-index: 3;
    }

    .header ul {
        margin: 0;
        padding: 0;
        gap: 0;
        list-style: none;
        overflow: hidden;
        background-color: var(--color-background);
    }

    .header li button {
        display: block;
        padding: 0.625em 0;
        width: var(--app-width);

        background-color: var(--color-background);
        font-size: 4rem;
        border: none;
    }

    .header li button:hover {
        background-color: #EFEFEF;
    }

    .header li button:focus {
        font-weight: bold;
    }

    .header li button:active {
        background-color: #333;
    }

    .header img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1em;
        margin: auto;
        font-size: 2rem;
        text-decoration: none;
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* Header - Style the menu icon for the dropdown */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding:
            calc(var(--menu-icon-width) * 0.875)
            calc(var(--menu-icon-width) * 0.4167);
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: var(--menu-icon-thickness);
        position: relative;
        transition: background .2s ease-out;
        width: var(--menu-icon-width);
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: calc(var(--menu-icon-width) / 3);
    }

    .header .menu-icon .navicon:after {
        top: calc((var(--menu-icon-width) / 3) * -1);
    }

    /* Header - Icon and Menu animation for when checkbox is clicked */

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 30em;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}

@media screen and (orientation: landscape) {
    .header {
        background-color: var(--color-background);
        box-shadow: 0.0625em 0.0625em 0.25em 0 rgba(0,0,0,.1);
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        width: 100%;
        max-width: var(--sidebar-width);
        height: 100%;
        z-index: 3;
        overflow: auto;
    }

    .header ul {
        margin: 0;
        padding: 0;
        gap: 0;
        list-style: none;
        overflow: hidden;
        background-color: var(--color-background);
    }

    .header li button {
        display: block;
        padding: 0.625em 0;
        width: var(--sidebar-width);

        background-color: var(--color-background);
        font-size: 4rem;
        border: none;
    }

    .header li button:hover {
        background-color: #EFEFEF;
    }

    .header li button:focus {
        font-weight: bold;
    }

    .header li button:active {
        background-color: #333;
    }

    .header .menu-btn {
        display: none;
    }

    .header img {
        width: 10vw;
        margin: 5vh auto 5vh auto;
        display: block;
        float: none;
    }

    /* Refactor code below into something that can be automatically calculated, creating more maintainable code */

    :root {
        --app-width: 60vw;
    }

    .container {
        margin: 0 5vw 0 35vw;
    }

    footer {
        margin: 0 5vw 0 35vw;
    }
}

/* Alert Modal */

:root {
    --modal-width: 80vw;
    --modal-padding: 0.625em;
}

#modal-alert {
    display: none;

    flex-direction: column;
    position: absolute;

    padding: var(--modal-padding);

    border-radius: 1.25em;

    background-color: var(--color-background);
    box-shadow: 0 0 0.3125em 0.3125em rgba(0,0,0,.1);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-alert .modal-header button {
    height: 2.8em;
    padding: 0.25em 1em;
    margin: auto 0;
    font-size: 1.25rem;
    text-align: center;
}

@media screen and (orientation: portrait) {
    #modal-alert {
        width: var(--modal-width);
        top: 20vh;
        left: 10vw;
        z-index: 4;
    }
}

@media screen and (orientation: landscape) {
    #modal-alert {
        width: calc(var(--modal-width) - 20vw);
        top: 20vh;
        left: 30vw;
        z-index: 4;
    }
}

/* Footer */

#footer-userstatus {
    text-align: center;
}